<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Room ERP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Material Icons -->

    <script src="/js/header.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

        body {
            font-family: 'Poppins', sans-serif !important;

        }

        h5 {
            font-weight: 800 !important;
            word-spacing: 4px !important;
        }

        button {
            font-family: 'Poppins', sans-serif !important;
            background-color: #4d44b4 !important;
        }

        p {
            font-family: 'Poppins', sans-serif !important;
            font-weight: 550 !important;
        }

        a {
            background-color: #4d44b5 !important;
        }

        h2 {
            color: #4d44b5 !important;
        }

        .col-md-12 a {
            background-color: white !important;
        }

        .mb-4 a {
            background-color: white !important;
        }

        i {
            cursor: pointer;
            color: #4d44b5 !important;
        }

        button {
            color: white !important;
            border: none;
            background: none;
            outline: none;
        }

        #goBackButton {
            background-color: rgb(255, 255, 255) !important;
            color: black !important;
            border-radius: 0px !important;
        }

        #goBackButton {
            display: flex;
            align-items: center;
            /* Vertically center items within the button */
        }

        .material-icons {
            margin-right: 8px;
            /* Adjust the spacing between the icon and the text as needed */
        }
    </style>
</head>

<body>
    <button id="goBackButton"><i class="material-icons">arrow_back</i></button>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-4">Student Details</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>ID</th>
                                <td class="faculty-id">
                                    <%=d._id %>
                                </td>
                            </tr>

                            <tr>
                                <th>Name</th>
                                <td>
                                    <%=d.name %>
                                </td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td>
                                    <%=d.code %>
                                </td>
                            </tr>
                            <tr>
                                <th>Semester</th>
                                <td>
                                    <%=d.semester%>
                                </td>
                            </tr>


                        </table>
                        <div class="d-flex justify-content-between">

                            <!-- <button type="button" class="btn btn-primary"
                                        onclick="window.location.href = './editfacultydetails';">
                                        Delete
                                    </button> -->
                            <form id="editForm" method="POST" action="/admin/editsubjectdetails">
                                <input type="hidden" name="id" id="studentDataInput" value="<%=d._id %>">
                                <button type=" submit" class="btn btn-primary">
                                    Edit
                                </button>
                            </form>



                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script>
        function goBack() {
            window.history.back();
        }

        // Add click event listener to the button
        const backButton = document.getElementById("goBackButton");
        backButton.addEventListener("click", goBack);
    </script>

</body>

</html>